<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index file</title>
    <style>
        body {
            color: blue;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>This is {{%CONTENT%}} page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem esse accusantium aperiam, iure, voluptates dolor quidem accusamus sit nulla animi temporibus a ab ea sapiente nesciunt maiores mollitia! Provident, laboriosam!</p>
</body>
</html>